*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: maPolice;
    overflow: hidden;
    letter-spacing: 1px;
}

@font-face{
    font-family : maPolice;
    src: url("../Images/mapolice.ttf");
}
body{
    background-size : auto;
    background: url("../Images/restaurant.png") center;
    height: inherit;
}
header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition:600ms;
    padding: 40px 150px;
    z-index: 100000;
    
}
header .logo{
    position: relative;
    transition:600ms;
    height: 100px;
}
header ul{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-size:2em;
    letter-spacing: 2px;
    font-size: 40px;
    transition:600ms;
}
header ul li a strong {
    font-size: 40px;
    font-weight: bolder;
    color: #2020d1;
}
header ul:hover li a {
    filter: blur(1px);
}
header ul li:hover a {
    font-size : 50px;
    font-weight:bold;
    color: #0000ff;
    transition:600ms;
    filter: blur(0px);
}
.content{
    display: block;
    height: 70%;
    position: relative;
    margin-top:200px;
    margin-right: 25%;
    align-items: center;
    transition: 1.2s;
    width: 100%;
}
table, th, td{
    background-color: rgba(207, 204, 204, 0.534);
    border: solid 3px black;
    padding:5px;
    border-collapse: collapse;
    text-align: center;
    margin:auto ;
}
td{
    font-size: 50px;
}
table tr td a img{
    height: 450px
}

.banniere
{
    position: relative;
    width: 100%;
    height: 100%;    
}
@media screen and (max-width:420px)
{
    *{
        overflow: visible;
    }
    body{
        background-size: cover;
    }
    header{
        padding:0px 0px;
    }
    header .logo{
        height:50px;
    }
    header ul li a{
        font-size: 15px;
        margin: 0 5px;
        letter-spacing: 1px;
    }
    header ul li a:hover{
        font-size: 20px;
        margin: 0 5px;
        letter-spacing: 1px;
    }
    .content{
        display: block;
        overflow: hidden;
    }
    table th td{
        width: 100%;
    }
    table tr td a img{
        height: 100px
    }
    th {
        font-size: 30px;
    }
    table{
        margin-bottom: 300px;
        box-sizing: border-box;
        flex-direction: column;
    }
}