*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: maPolice;
    letter-spacing: 1px;
    overflow: hidden;
}
@font-face{
    font-family : maPolice;
    src: url("../Images/mapolice.ttf");
}
body
{
    height: 100%;
    background-color:rgb(211, 158, 158);
}
header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 100000;
}
header .logo{
    position: relative;
    height: 100px;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    background: url("../Images/restaurant.png");
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight:  bolder;
    color: rgb(0, 0, 0);
}
.contact .content p{
    font-weight: 300;
    color: rgb(0, 0, 0);
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px ;
}
.container .contactInformation{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInformation .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInformation .box .icon{
    min-width: 60px;
    height: 60px;
    background: rgb(252, 246, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInformation .box .text{
    display: flex;
    margin-left: 20px;
    font-size:16px ;
    color: rgb(0, 0, 0);
    flex-direction: column;
    font-weight:300 ;
}
.container .contactInformation .box .text h3{
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-weight:bold;
}

.formulaire{
    width: 40%;
    padding: 40px;
    background: rgba(255, 252, 241, 0.808);
}
.formulaire h2{
    font-size: 30px;
    color: #333;
    font-weight:  bolder;
}
.formulaire .input{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.formulaire  input,
.formulaire .input textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin:10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize:none ;
    background-color: rgba(255, 252, 241, 0.747);
}
.formulaire .input input[type="submit"]{
    width:100px;
    background: #00bcd4;
    color: #fff;
    border:none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.formulaire .input input[type="submit"]:hover{
    opacity: 0.9;
}

@media screen and (max-width:420px)
{
    *{
        overflow: visible;
    }
    header .logo{
    height:50px;
    }
}